@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: #f9fafb;
    color: #1F6F3B;
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}